.techgrid {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.techgrid>div>div:first-child{
    margin-top: 5rem;
    margin-bottom: 2rem;

}

.techgrid>div>div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.techgrid>div>div>div {
    display: inline-block;
    background-color: var(--background);
    color: var(--foreground);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 100;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 50;
}