@import "tailwindcss";

@theme {
  --font-mono: var(--font-mono);
  --font-display: var(--font-display);
  --font-sans: var(--font-display-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: #00b8d4;

  --border-width: 3px;
}


@media (prefers-color-scheme: dark) {
  :root {
     --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
